@import "../pages/_variables";

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $primary-color;
	color: $button-text-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacing-unit;
	z-index: 1000;

	.navbar__brand {
		font-family: $font-family-heading;
		font-size: 24px;
	}

	.navbar__menu {
		position: absolute;
		right: 100;
		display: flex;
		align-items: center;
	}

	.navbar__menu__item {
		margin-left: $spacing-unit * 2;

		.navbar__menu__item__link {
			color: $button-text-color;
			text-decoration: none;
			padding: $spacing-unit;
			border-radius: $spacing-unit / 2;

			&.active,
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}
