@import "../pages/_variables";
.sidebar {
	width: 240px;
	flex-shrink: 0;

	.MuiDrawer-paper {
		border: 3px solid purple;
		top: 64px;
		width: 240px;
		box-sizing: border-box;
	}
}

@media (max-width: 768px) {
	.sidebar {
		display: none;
		margin-right: 30rem;
	}

	.MuiDrawer-paper {
		width: 100%;
	}
}
