@import "../pages/_variables";

.sidebar {
	background-color: $secondary-color;
	height: 100vh;
	position: fixed;
	width: 200px;
	.sidebar__logo {
		margin: 20px;
	}
	.sidebar__menu {
		margin-top: 20px;
		.sidebar__menu__item {
			.MuiListItemIcon-root {
				color: #fff;
			}
			.MuiListItemText-root {
				color: #fff;
			}
		}
	}
}
