@use "sass:math";

@import "./base/_reset";
@import "./pages/_variables";
@import "./components/_article-card";
@import "./components/_article-details";
@import "./components/_articles";
@import "./components/_create-article";
@import "./components/_navbar";
@import "./components/_sidebar";
@import "./pages/_profile";

// Main styling file that imports all other partials
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px;
}

body {
	background: $background-color;
	color: #fff;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.MuiPaper {
	.MuiCard-root {
		background-color: #ff3434;
		border: 1px solid $border-color;
		border-radius: 9rem;
	}
}

.article-image {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}
