@use "sass:math";

@import "./base/_reset";
@import "./pages/_variables";
@import "./components/_article-card";
@import "./components/_article-details";
@import "./components/_articles";
@import "./components/_create-article";
@import "./components/_navbar";
@import "./components/_sidebar";

main {
	display: flex;
	margin: 13vh;
	justify-content: center;
	align-items: center;
}
body {
	font-family: $font-family-base;
	background-color: $background-color;
	color: $text-color;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	color: $heading-color;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button {
	background-color: $button-bg-color;
	color: $button-text-color;
	border: none;
	padding: math.div($spacing-unit, 2) math.div($spacing-unit, 3);
	cursor: pointer;
	border-radius: math.div($spacing-unit, 2);
	font-family: $font-family-base;

	&:hover {
		background-color: darken($button-bg-color, 10%);
	}
}

input,
textarea {
	border: 1px solid $input-border-color;
	padding: math.div($spacing-unit, 2);
	font-family: $font-family-base;
	border-radius: math.div($spacing-unit, 2);
}

.app {
	display: flex;
	.main-content {
		flex-grow: 1;
		transition: margin-left 0.3s;
		margin-left: 240px;

		@media (max-width: 768px) {
			margin-left: 0;
		}
	}

	.article-details {
		padding-left: 24px;
		padding-right: 24px;

		@media (min-width: 600px) {
			padding-left: 24px;
			padding-right: 24px;
		}

		@media (min-width: 1200px) {
			max-width: 1560px;
			margin-left: 156px;
		}
	}
}
